In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv(
    r'N:\Đại học\hoc sau\PTDL_HS\PTDL_HS\Week3\patient_heart_rate.csv',
    header=None,
    engine='python',
    on_bad_lines='skip'
)

df

       0               1     2           3    4    5    6    7    8    9
0    1.0    Mickéy Mousé  56.0       70kgs   72   69   71    -    -    -
1    2.0     Donald Duck  34.0   154.89lbs    -    -    -   85   84   76
2    3.0      Mini Mouse  16.0         NaN    -    -    -   65   69   72
3    4.0  Scrooge McDuck   NaN       78kgs   78   79   72    -    -    -
4    5.0    Pink Panther  54.0  198.658lbs    -    -    -   69  NaN   75
5    6.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
6    7.0    Dewey McDuck  19.0       56kgs    -    -    -   71   78   75
7    8.0      Scööpy Doo  32.0       78kgs   78   76   75    -    -    -
8    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
9    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
10   9.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
11  10.0    Louie McDuck  12.0       45kgs    -    -    -   92   95   87
12  11.0       Henry Nam   NaN       60kgs   78   75   72    -    -    -
13  12.0     Michel Long  34.0         NaN   65   67   55    -    -    -
14  13.0      Tana Ricky   NaN         NaN    -    -    -   68   72   70
15  15.0             NaN  52.0      180lbs    -    -    -   68   75   72

Vấn đề 1: Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề
“Missing header in the csv file”

In [2]:
import pandas as pd

column_names = [
    "Id", "Name", "Age", "Weight",
    "m0006", "m0612", "m1218",
    "f0006", "f0612", "f1218"
]

df = pd.read_csv(
    r"N:\Đại học\hoc sau\PTDL_HS\PTDL_HS\Week3\patient_heart_rate.csv",
    header=None,
    names=column_names,
    engine="python",
    on_bad_lines="skip"
)

print(df.head())

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

Vấn đề 2: Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột “Name” chứa bao
gồm “Firstname” và “Lastname”, giải pháp là ta sẽ tách ra làm 2 cột

In [3]:
df['Firstname'] = df['Name'].str.split().str[0]
df['Lastname'] = df['Name'].str.split().str[1:].str.join(' ')

df = df.drop('Name', axis=1)

print(df.head())

    Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0  1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1  2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2  3.0  16.0         NaN     -     -     -    65    69    72      Mini
3  4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4  5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink

  Lastname
0    Mousé
1     Duck
2    Mouse
3   McDuck
4  Panther

Vấn đề 3: Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu.
Ta sẽ chuyển các đơn vị về thành đơn vị chuẩn “kg”

In [4]:
weight = df['Weight']

for i in range(0, len(weight)):
    x = str(weight.iloc[i])

    if x.endswith('lbs'):
        x = x[:-3]
        float_x = float(x)
        y = int(float_x / 2.2)
        weight.iloc[i] = str(y) + "kgs"

print(df.head())

    Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0  1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1  2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2  3.0  16.0         NaN     -     -     -    65    69    72      Mini
3  4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4  5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink

  Lastname
0    Mousé
1     Duck
2    Mouse
3   McDuck
4  Panther

Vấn đề 4: Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp có
thể đưa ra là xóa bỏ

In [5]:
df.dropna(how="all", inplace=True)
print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
10   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
10   McDuck
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

Vấn đề 5: Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname,
age, weight,....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phải
dựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý.

In [6]:
df = df.drop_duplicates(subset=['Firstname', 'Lastname'])
print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
11  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
12  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
13  12.0  34.0         NaN    65    67    55     -     -     -    Michel
14  13.0   NaN         NaN     -     -     -    68    72    70      Tana
15  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
11   McDuck
12      Nam
13     Long
14    Ricky
15      NaN

Vấn đề 6: Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCII.
Giải pháp: Tùy vào nghiệp vụ ta có thể: xóa dữ liệu tại đó, thay thế bằng dữ liệu khác
hoặc thay bằng việc đánh dấu bằng một kí tự khác (ví dụ: ‘warning’)

In [11]:
df['Firstname'] = df['Firstname'].replace(
    r'[^\x00-\x7F]+',
    '',
    regex=True
)

df['Lastname'] = df['Lastname'].replace(
    r'[^\x00-\x7F]+',
    '',
    regex=True
)

print(df.head())

    Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0  1.0  56.0       70kgs    72    69    71     -     -     -     Micky
1  2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2  3.0  16.0         NaN     -     -     -    65    69    72      Mini
3  4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4  5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink

  Lastname
0     Mous
1     Duck
2    Mouse
3   McDuck
4  Panther

Vấn đề 7: “Missing values”, vấn đề này xảy ra tại các cột “Age”, “Weight” và “Heart
Rate”. Thiếu dữ liệu (dữ liệu không đầy đủ) là vấn đề xảy ra nhiều trong các nguồn dữ
liệu do nhiều nguyên nhân chủ quan lẫn khách quan.Có một vài giải pháp để xử lý vấn đề
này, chủ yếu dựa trên kinh nghiệm và nghiệp vụ về tập dữ liệu đó. Một số giải pháp đưa
đề xuất từ chuyên gia như sau:
a. Deletion: Remove records with missing values
b. Dummy substitution: Replace missing values with a dummy but valid value:
e.g.: 0 for numerical values.
c. Mean substitution: Replace the missing values with the mean.
d. Frequent substitution: Replace the missing values with the most frequent item.
e. Improve the data collector: Your business folk will talk to the clients and inform
them about why it is worth fixing the problem with the data collector.
……
Yêu cầu:
- Thống kê thông tin dữ liệu thiếu trên từng biến Age và Weight
- Yêu cầu xử lý dữ liệu thiếu như sau: Nếu dòng nào có Age hoặc Weight có dữ liệu thì
phần Age hoặc Weight được tính như bên dưới, nếu thiếu cả 2 thông tin thì xóa dòng
o Age: Giá trị thay thế là mean của các giá trị trong cột Age

In [12]:
print("Missing Age:", df['Age'].isna().sum())
print("Missing Weight:", df['Weight'].isna().sum())

df = df.dropna(subset=['Age', 'Weight'], how='all')

df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

mean_age = df['Age'].mean()

df['Age'] = df['Age'].fillna(mean_age)

print(df.head())

Missing Age: 2
Missing Weight: 2
    Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0  1.0  56.0       70kgs    72    69    71     -     -     -     Micky
1  2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2  3.0  16.0         NaN     -     -     -    65    69    72      Mini
3  4.0  36.1       78kgs    78    79    72     -     -     -   Scrooge
4  5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink

  Lastname
0     Mous
1     Duck
2    Mouse
3   McDuck
4  Panther

Vấn đề 8: “một cột chứa quá nhiều thông tin cần được phân rã”, như trong bài toán này ta
thấy header “m0006” chứa các nội dung bao gồm: m → male, 1218 ~ 12-18 (mm-dd).
Còn giá trị thì là kết quả huyết áp.
Chúng ta sẽ tách nội dung của cột này ra làm 3 cột sau: PulseRate : giá trị huyết áp, Sex:
giới tính ( m: male, f: female) và time: thời gian (tháng-ngày) như sau:

In [13]:
melted_df = pd.melt(
    df,
    id_vars=['Age', 'Weight', 'Firstname', 'Lastname'],
    value_vars=['m0006', 'm0612', 'm1218', 'f0006', 'f0612', 'f1218'],
    var_name='Sex_and_Time',
    value_name='Heart_Rate'
)

melted_df[['Sex', 'Time']] = melted_df['Sex_and_Time'].str.extract(
    r'([mf])(\d{4})',
    expand=True
)

melted_df['Time'] = melted_df['Time'].str[:2] + '-' + melted_df['Time'].str[2:]

clean_df = melted_df.drop(columns=['Sex_and_Time'])
clean_df = clean_df.dropna()

clean_df.to_csv('output_cleaned.csv', index=False)

print(clean_df.head())

    Age      Weight Firstname Lastname Heart_Rate Sex   Time
0  56.0       70kgs     Micky     Mous         72   m  00-06
1  34.0   154.89lbs    Donald     Duck          -   m  00-06
3  36.1       78kgs   Scrooge   McDuck         78   m  00-06
4  54.0  198.658lbs      Pink  Panther          -   m  00-06
5  52.0      189lbs      Huey   McDuck          -   m  00-06

11. Hãy khảo sát tỉ lệ dữ liệu thiếu trên biến huyết áp. Dữ liệu bị thiếu thì hãy xử lý bằng
phương pháp sau
1)
• Thay thế bằng giá trị trung bình liền trước và liền sau của người đó. Nếu không
được thì dùng 
2)
• Thay thế bằng giá trị trung bình 2 giá liền trước của người đó. Nếu không được
thì dùng 
3)
• Thay thế bằng giá trị trung bình 2 giá liền sau của người đó. Nếu không được thì
dùng 
4)
• Trung bình của các giá trị huyết áp của người đó. Nếu không được thì dùng 
5).
• Trung bình của các giá trị huyết áp của nhóm giới tính. Nếu không được thì dùng 
6)
• Trung bình của các giá trị dữ liệu. Nếu không được thì thay bằng mức ổn định
trong y học.

In [14]:
missing_rate = clean_df['Heart_Rate'].isna().mean() * 100
print(f"Tỉ lệ dữ liệu thiếu huyết áp: {missing_rate:.2f}%")

clean_df = clean_df.sort_values(
    by=['Firstname', 'Lastname', 'Time']
).reset_index(drop=True)

STABLE_BP = 70  # mức ổn định y học (có thể ghi chú trong báo cáo)

def fill_heart_rate(group):
    hr = group['Heart_Rate']

    for i in range(len(hr)):
        if pd.isna(hr.iloc[i]):
            values = []

            # 1️ Trung bình liền trước & liền sau
            if i > 0 and i < len(hr)-1:
                if not pd.isna(hr.iloc[i-1]) and not pd.isna(hr.iloc[i+1]):
                    values = [hr.iloc[i-1], hr.iloc[i+1]]

            # 2️ Trung bình 2 giá liền trước
            if not values and i >= 2:
                prev = hr.iloc[i-2:i].dropna()
                if len(prev) == 2:
                    values = prev.tolist()

            # 3️ Trung bình 2 giá liền sau
            if not values and i <= len(hr)-3:
                nxt = hr.iloc[i+1:i+3].dropna()
                if len(nxt) == 2:
                    values = nxt.tolist()

            # 4️ Trung bình huyết áp của người đó
            if not values:
                person_mean = hr.mean()
                if not pd.isna(person_mean):
                    values = [person_mean]

            # 5️ Trung bình theo giới tính
            if not values:
                sex_mean = clean_df[
                    clean_df['Sex'] == group['Sex'].iloc[0]
                ]['Heart_Rate'].mean()
                if not pd.isna(sex_mean):
                    values = [sex_mean]

            # 6️ Trung bình toàn bộ / mức ổn định
            if not values:
                overall_mean = clean_df['Heart_Rate'].mean()
                if not pd.isna(overall_mean):
                    values = [overall_mean]
                else:
                    values = [STABLE_BP]

            hr.iloc[i] = int(np.mean(values))

    group['Heart_Rate'] = hr
    return group
clean_df = clean_df.groupby(
    ['Firstname', 'Lastname'],
    group_keys=False
).apply(fill_heart_rate)

print("Missing Heart Rate after processing:")
print(clean_df['Heart_Rate'].isna().sum())

print(clean_df.head())

Tỉ lệ dữ liệu thiếu huyết áp: 0.00%
Missing Heart Rate after processing:
0
    Age Weight Heart_Rate Sex   Time
0  19.0  56kgs          -   m  00-06
1  19.0  56kgs         71   f  00-06
2  19.0  56kgs          -   m  06-12
3  19.0  56kgs         78   f  06-12
4  19.0  56kgs          -   m  12-18

12. Hãy rút gọn dữ liệu phù hợp và reindex lại dữ liệu. Sau đó, lưu trữ dữ liệu đã xử lý thành
công với tên file patient_heart_rate_clean.csv
Lưu ý: Ngoài ra còn rất nhiều vấn đề về mặt xử lý dữ liệu dựa trên nhiều khía cạnh khác
nhau tùy vào sự am hiểu về dữ liệu của các chuyên gia như:
• Handling dates
• Correcting character encodings (a problem you hit when you scrape data off the
web)

In [44]:
clean_df = pd.read_csv(
    "patient_heart_rate.csv",
    header=None,
    engine="python",
    on_bad_lines="skip"
)

clean_df = clean_df.iloc[:, :7]

clean_df.columns = [
    'Age', 'Firstname', 'Lastname',
    'Weight', 'Heart_Rate', 'Sex', 'Time'
]

final_df = clean_df.sort_values(
    ['Firstname', 'Lastname', 'Time']
).reset_index(drop=True)

final_df.to_csv('patient_heart_rate_clean.csv', index=False)
print("Saved file: patient_heart_rate_clean.csv")

Saved file: patient_heart_rate_clean.csv